.modal-title {
  color: white;
}

.list-modal-dialog {
  width: 700px;
  margin: 40px auto 0;
  background-color: white;
  border-radius: 6px;
  padding-bottom: 10px;
}

.list-modal-content {
  border-radius: 0px !important;
  height: auto;
  border: none;
}

.modal-header {
  border: none;
  background-color: #5191e0;
  border-radius: 6px 6px 0 0;
}

.list-modal-ul-area{
  height: auto;
  width: 90%;
  margin: 20px 0;
  background-color: white;
  border-radius: 0 0 6px 6px;
}

.list-modal-text-area ul{
  padding: 0px;
}

.list-modal-list {
  font-size: 13px;
  padding: 9px 20px;
  border-bottom: 1px solid #eee;
  list-style: none;
}

.blue-list {
  background-color: #dee7f3;
}

@media only screen and (max-width: 800px){
  .list-modal-dialog{
    width: 90%;
  }
}
